/***********************ADAPTIVE HEADER***********************************************/

@media (max-width: 961px) {
	.logo {
		flex: 1 0 207px;
	}

	.logo__name {
		font-size: 31px;
	}

	.navigation__link {
		padding: 21px 15px;
	}

	.button-login {
		flex: 1 0 auto;
	}
}

/*******************************max-width: 851px*/
@media (max-width: 851px) {

	/*HOVERS*/
	.navigation__link:hover {
		color: #fff;
		text-decoration: none;
	}

	.logo {
		flex: 1 0 140px
	}

	.logo__image {
		width: 25px;
	}

	.logo__name {
		font-size: 20px;
		line-height: 30px;
	}

	.header__navigation {
		flex: 1 1 auto;
	}

	.navigation__link {
		padding: 20px 10px;
		font-size: 14px;
		line-height: 20px;
	}

	.button-login {
		flex: 1 0 auto;
	}

	.button-login__link {
		font-size: 14px;
	}
}

/*******************************max-width: 701px*/
@media (max-width: 701px) {

	.logo {
		flex: 1 0 auto;
	}

	.logo__image {
		width: 30px;
	}

	.logo__name {
		display: none;
	}

	.navigation__link {
		font-size: 13px;
	}

	.button-login__link {
		width: 85px;
		height: 38px;
	}
}

/*******************************max-width: 561px*/
@media (max-width: 561px) {

	.menu {
		min-height: auto;
	}

	.navigation__link,
	.button-login__link {
		font-size: 9px;
		line-height: 20px;
	}

	.navigation__link {
		padding: 20px 6px;
	}

	.button-login__link {
		height: 26px;
		width: 64px;
	}

	.logo__image {
		width: 27px;
	}
}

/*******************************max-width: 391px*/
@media (max-width: 391px) {

	.title {
		margin: 0;
		font-size: 14px;
		line-height: 19px;
	}

	.link {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 92px;
		height: 30px;
		padding: 0 0 0 10px;

		font-size: 11px;
		line-height: 15px;
	}

	.link::before {
		top: 12px;
		left: 13px;
		width: 10px;
		height: 10px;
		background: url('../assets/arrow-mobile.svg') no-repeat;
	}

	.burger {}

	.header__burger {
		display: block;
	}

	.header {
		background: url('../assets/preview/garrett-mobile.jpg') center top no-repeat;
	}

	.menu {
		padding: 45px 0 11px 0;
	}

	.header__navigation {
		position: fixed;
		top: 0;
		right: -250px;
	}

	.navigation {
		display: flex;
		justify-content: end;
		align-items: end;
		width: 165px;
		height: 250px;
		padding: 26px 0;
		box-sizing: border-box;

		background: #F2785C;
		box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
		border-radius: 10px;
	}

	.navigation__list {
		justify-content: space-between;
		align-items: flex-end;
		flex-direction: column;
		position: relative;
	}

	.navigation__close {
		display: block;
		position: absolute;
		z-index: 99;
		top: -23px;
		left: -16px;
		width: 30px;
		height: 30px;

		background: url('../assets/header/close.svg') no-repeat;
	}

	.navigation__item {}

	.navigation__item-account,
	.navigation__item-social {
		display: block;
	}

	.navigation__link {
		padding: 5px 15px;
		font-size: 16px;
		line-height: 21px;
	}

	.container {
		padding: 0 16px;
	}

	.header__menu-background {

		background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 50.1%);
		box-shadow: none;
	}

	.logo__image {
		width: 30px;
	}

	.button-login {
		display: none;
	}
}

/*****************************************PREVIEW*/

@media (max-width: 391px) {

	.main__preview {
		padding-top: 52px;
		background: url('../assets/preview/garrett-mobile.jpg') center -91px no-repeat;
	}

	.preview__title,
	.preview__description {
		display: none;
	}

	.main__preview {
		min-height: 108px;
	}

	.form__row {
		padding: 5px 8px;
	}

	.form__input {
		height: 37px;
		width: 259px;
		padding: 0 0 0 9px;

		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}

	.form__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 94px;
		height: 29px;
		margin: 0;
		padding: 0;
		/* padding: 9px 7px; */

		font-size: 11px;
		line-height: 15px;
	}



	.destinations__button,
	.stories__button {
		width: 100%;
	}

	.destinations__link,
	.stories__link {
		margin: 0 auto;
	}
}


/*****************************************STEPS*/
@media (max-width: 391px) {

	.main__steps {
		margin-bottom: 9px;
	}

	.steps__title-block {
		margin: 0;
	}

	.steps__title {
		margin: 20px 0 12px 0;
	}

	.steps__row {
		margin: 0 -37px;
	}

	.steps__column {
		display: flex;
		flex-direction: column;
		justify-content: center;

		padding: 8px 10px 10px;
		flex: 1 1 90px;
	}

	.steps__text {}

	.steps__text_left {
		max-width: 76px;
		margin: 0 auto;

	}

	.steps__text_left p {
		text-align: left;
	}

	.steps__icon {
		width: 70px;
		height: 70px;
		margin-bottom: 20px;
		background: #F2785C;
		border-radius: 16px;
	}

	.steps__icon_center {
		margin-top: -11px;
	}

	.steps__box-image {
		max-width: 35px;
	}

	.steps__item {
		margin: 0;
		font-size: 10px;
		line-height: 12px;
		color: #0D606F;
	}
}